img{
    height: 200px;
    width: 200px;
}
.home{
    background: linear-gradient(0deg, rgba(99,126,126,1) 45%, rgba(66,52,21,1) 100%);
    
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    
    
}
@keyframes gradientAnimation {
    0% {
      background-position: 5% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.homeCard{
    border: black solid 2px;
    height: 100%;
    background-color: rgb(52, 53, 53);
    border-radius: 5px;
    box-shadow: black 0px 0px 1px 2px;
    padding: 5%;
}
