
.home{
    /* border: 2px solid cyan; */
    height: 100vh;
    width: 100vw;
    
    display: grid;
 
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: url(/src/assets/forest.png);
    background-size: 100vh;
    
    
}


h1{
   
    font-size: 90px;
    letter-spacing: 3px;
    animation: float 3s ease-in-out infinite;
}
h1:hover{
  text-shadow: 7px 9px 6px rgba(227, 16, 16, 0.778);
  letter-spacing: 6px;
  font-size: 100px;

}
h3{
    /* z-index: 1; */
    font-size: 30px;
    letter-spacing: 3px;
}
h3:hover{
  font-size: 40px;
  text-decoration: underline 2px rgb(211, 15, 15);
}


/* .h3 {
  border: 2px solid cyan;
} */

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-30px);
  }
  100% {
      transform: translateY(0);
  }
}