#root {
  background: linear-gradient(0deg, rgba(99, 126, 126, 1) 45%, rgba(66, 52, 21, 1) 100%);
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  animation: gradientAnimation 10s infinite linear;
  background-size: 200% 200%; /* Ensures the gradient covers the element */
  text-align: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Start position */
  }
  100% {
    background-position: 100% 50%; /* End position */
  }
}
